#logo , #hSupported  {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:80px;
    text-align: center;
    }
#menu   {
    position: fixed;
    margin-left: 25%;
}
#logoContainer    {
    background-image: url('./images/plate1.jpg');
    background-repeat: no-repeat;
    height: 30%;
    padding:80px;
}
#plate  {
    margin-top: -500px;
    margin-left: -200px;
    height:100%;
    opacity: 1;
}
#logo   {
    text-align: center;
    height: 50%;
    border-style:solid;
    border-color: white;
    border-width:10px 0px 10px 0px;
    padding: 20px;
}
#intro  {
    height: 600px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    background-image: url("./images/studentCard.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top:80px;

}
#openMenu , #closedMenu  {
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px 0px 0px 30px;
    height: 50px;
}
h2{
    font-size: 40px;
}
#intro , .supported {
    text-align: center;
    font-style: Arial, Helvetica, sans-serif;
    color: white;
}
#hSupported {
    font-size: 40px;
}
#supported  {
    text-align: center;
}
#author {
        font-style: italic;
}
#mastercard {
    height: 20px;
}
img {
    height: 200px;
    border-radius: 5px;
}
body{
    background-color: black;
}
#logInContainer  {
    font-family:Arial, Helvetica, sans-serif;
    width: 50%;
    height:80%;
    padding: 0% 25% 20% 25%;
    background-color:rgba(0,0,0,1);
    margin-top: -1700px;
    position: fixed;
    opacity: 0;
}
#logIn  {
    text-align: center;
    color:white;
    background-color: black;
    border-radius:10px;
    margin:100px 0px 0px 0px;
}
input {
    height: 20px;
    width:200px;
    margin: 20px auto 20px auto;
}
#enter  {
    margin: 20px;
    border: 2px solid white;
    border-radius: 2px;
    width: 50%;
    margin:20px auto 20px auto;
}