body{
    background-image: linear-gradient(to bottom right,rgba(137, 207, 240,0.5), white);
    height: 1100px;
}
h1 {
    font-family: cursive;
    margin-top: 50px;
    margin-left: 50px;
}
h2 , h3{
    font-family: cursive;
    margin-top: 20px;
    margin-left: 50px;
}
#jumping    {
    height: 500px;
}
.education  {
    display: flex;
}
.educationCol   {
    flex: 50%;
}
#beach  {
    height: 500px;
}
.hobby  {
    display: flex;
}
.hobbyCol   {
    flex: 50%;
}