
#circle,#innerCircle{
    position:fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
}
#innerCircle{
    opacity: 0;
}
h1{
    position: fixed;
}
body    {
    
  background: linear-gradient(to bottom right,rgba(137, 207, 240,1), white,green);
  background-size: 500% 500%;
  animation: body;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes body {
    0%  {background-position: 0% 0%;}
    50%  {background-position: 50% 50%;}
    100%  {background-position: 0% 0%;background-position: 70% 70%;}
}
#person {
    height:500px;
    margin-top: 200px;
}
.row    {
    display: flex;
    margin-top: -100px;
}
.body   {
    flex: 50%;
    margin: 5px;
}
#fullstack {
    background-image: linear-gradient(to right, rgba(137, 207, 240),  rgba(137, 207, 240),#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family:cursive;
    margin-top: 400px;
    margin-left: 200px;
    font-size: 50px;
    text-align: center;
}
#name , #about , #projects , #workExperience {
    font-family: cursive;
    margin-top: 50px;
    margin-left: 50px;
}
.header {
    display: flex;
    height: 150px;
    backdrop-filter: blur(5px);
}
.headerCol  {
    flex: 50%;
}
.innerRow   {
    display: flex;
}
.innerCol   {
    flex:33.3%;
}
a{
    text-decoration: none;
    color: black;
}