body    {
    background: linear-gradient(to bottom right,rgba(137, 207, 240,0.5), white);
    background-repeat: no-repeat;
    height: 1500px;
    font-family: cursive;
}
#chessName  {
    margin-left: 50px;
}
#chessSetPic    {
    height: 300px;
}
.project    {
    display: flex;
}
.projectCol {
    flex:50%;
    margin-left: 10px;
    margin-top: 50px;
}
#packmanSet {
    width: 300px;
}